@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

body {
    background-color: hsl(0, 0%, 8%);
}

.card {
    width: 400px;
    height: 637px;
    background-color: hsl(0, 0%, 12%);
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}

img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin-top: 40px;
}

.heading {
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 9px;
}

.city {
    color:  hsl(75, 94%, 57%);
    font-weight: 600;
    margin-top: 0;
    font-size: 15px;
}

.frontEnd {
    margin-top: 30px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 35px;
}

.link {
    background-color: hsl(0, 0%, 20%);
    padding: 15px 30px;
    color:  hsl(0, 0%, 100%);
    margin: 20px 40px;
    border-radius: 10px;
    font-weight: 600;
}

.link:hover {
    cursor: url("https://img.icons8.com/ios-glyphs/30/1A1A1A/hand-cursor.png"), auto;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

